@using Web_Girls.Models.ModelsView;
@model AccountViewItem
@{
    ViewBag.Title = "ViewAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/Content/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="/Content/css/theme.css" rel="stylesheet">
    <link type="text/css" href="/Content/images/icons/css/font-awesome.css" rel="stylesheet">

    <script src="/Content/js/jquery-1.9.1.min.js"></script>
    <script src="/Content/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/datatables/jquery.dataTables.js"></script>
</head>
<div id="page-wrapper">

    <h3 class="page-header; col-lg-12">Thông Tin Tài Khoản</h3>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="span9">
                        <div class="content">

                            <div class="module">
                                <div class="module-head">
                                    <h3>@Model.TenHV</h3>
                                </div>
                                <div class="module-body">
                                    <form class="form-horizontal row-fluid" method="post">
                                        <div class="control-group">
                                            <label class="control-label" for="basicinput" >Mã Hội Viên</label>
                                            <div class="controls">
                                                <input type="text" id="basicinput" placeholder="Mã hội viên" class="span8" name="MaHV" value="@Model.MaHV" readonly>

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="basicinput">Tên hội viên</label>
                                            <div class="controls">
                                                <input type="text" id="Text1" placeholder="Tên hội viên..." class="span8" name="TenHV" value="@Model.TenHV" readonly>

                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="basicinput">Tên đăng nhập</label>
                                            <div class="controls">
                                                <input type="text" id="Text1" placeholder="Tên đăng nhập..." class="span8" name="TenDN" value="@Model.TenDN" readonly>

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            @* <label class="control-label" for="basicinput" readonly>Khóa</label>*@
                                            <label class="control-label" for="basicinput">Khóa</label>
                                            <div class="controls">

                                                @if (Model.Khoa)
                                                {

                                                    <input class="control-label" type="radio" name="Khoa" id="Khoa" checked value="true">
                                                    <label class="control-label" for="basicinput">Bỏ Khóa</label>
                                                    <input class="control-label" type="radio" name="Khoa" id="Khoa" value="false">


                                                }
                                                @if (!Model.Khoa)
                                                {
                                                    <input class="control-label" type="radio" name="Khoa" id="Khoa"  value="true">
                                                    <label class="control-label" for="basicinput">Bỏ Khóa</label>
                                                    <input class="control-label" type="radio" name="Khoa" id="Khoa" checked value="false">


                                                }


                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="basicinput" >Ngày sinh</label>
                                            <div class="controls">
                                                <input type="text" id="Text1" placeholder="dd/MM/yyyy..." class="span8" name="NgaySinh" value="@Model.NgaySinh" readonly>

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="basicinput" >Email</label>
                                            <div class="controls">
                                                <input type="text" id="Text1" placeholder="abc123@gmail.com..." class="span8" name="Email" value="@Model.Email" readonly>

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="basicinput" >Số điện thoại</label>
                                            <div class="controls">
                                                <input type="text" id="Text1" placeholder="SDT 123456789..." class="span8" name="SDT" value="@Model.SDT" readonly>

                                            </div>
                                        </div>
                                        @* <div class="control-group">
            <label class="control-label" for="basicinput">Danh mục</label>
            <div class="controls">
                <select name="MaDM">
                    @foreach (SelectListItem it in Model.DanhMucs)
                    {
                        if (it.Value.Contains(Model.MaDM.ToString()))
                        {
                            <option value="@it.Value" selected>@it.Text</option>
                        }
                        <option value="@it.Value">@it.Text</option>
                    }
                </select>

            </div>
        </div>*@

                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="module-head">
                                    <h3></h3>
                                </div>
                            </div>



                        </div>
                     </div>
                    </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- /.row -->
    <!-- /.row -->
</div>